*.swp
*.o
*.o_nostubs
*.so
config.log
config.status
/pkgIndex.tcl
/config.h
/doc/tclreadline.n
/Makefile
autom4te.cache
/configure
*~
/manifest.uuid
/tclreadlineUuid.h
/tags
/tclshrl*
/wishrl*
subprojects/tcl/
subprojects/tcl-*
subprojects/libtommath-*
subprojects/packagecache
subprojects/.wraplock
